body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.main-heading {
  margin: auto;
  padding-top: 8px;
  text-align: center;
  text-shadow: 
  0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);

  font-family: "Caveat", sans-serif;
}

main { 
  /* border-top: 1px solid black; */
  height: 87vh;
  flex-wrap: wrap;
}

/* Theme Button Styling */
.theme-select {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 6%;
  min-width: 40px;
  max-width: 60px;
  padding: 4px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 25px;
  outline: none;
}

.theme-select:hover {
  cursor: pointer;
}

/* Main body theme styling */
#body.light-theme {
  background-color: white;
  color: black;
}

#body.dark-theme {
  background-color: #121212;
  color: #E0E0E0 ;
}

/* Project dialog styling */
#project-dialog {
  position: fixed;
  width: 200px;
  padding: 15px 25px 15px 25px;
  border: 1px solid black;
}

/* Caveat, Varela Round, Saira Condensed*/

/* Project Form styling */
#project-form {
  display: flex;
  flex-direction: column;
}

.title-label, .description-label,
.date-label, .time-label {
  margin-bottom: 4px;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 1000;
} 

#title-input, #description-input,
#date-input, #time-input {
  margin-bottom: 12px;
}

#description-input {
  height: 150px;
}

#title-input:focus, #description-input:focus,
#date-input:focus, #time-input:focus {
  border: 2px solid blue;
  outline: none;
}

/* This container is also in the created projects */
.priority-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.form-button-container {
  display: flex;
  justify-content: space-around;
}

.submit-button, .cancel-button {
  width: fit-content;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid black;
  transition: 0.4s ease-in-out;
  box-shadow: 2px 2px 2px black;
  perspective: 10px;
  font-family: "Saira Condensed", sans-serif;
}

.submit-button:hover, .cancel-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  outline: 2px black;
}

/* To-Do Dialog Styling */
.td-dialog {
  position: fixed;
  width: 200px;
  padding: 15px 25px 15px 25px;
  border: 1px solid black;
}

/* To-Do Form Styling */
.td-title-label, .task-label, 
.td-date-label {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 500;
}

.td-form > input {
  margin-bottom: 12px;
}

.td-form > button {
  margin-top: 12px;
  font-family: "Saira Condensed", sans-serif;
  padding: 1px 4px 1px 4px;
}

.td-submit {
  margin-right: 8px;
}

/* Project Styling */
.new-project, .clear-projects {
  position: fixed;
  margin-bottom: 0px;
  padding: 2px;
  font-size: 12px;
  top: 26px;
  left: 12px;
  border-radius: 25px;
  border: 1px solid black;
  min-width: 90px;
  max-width: 100px;
  font-family: "Varela Round", sans-serif;
}

.clear-projects {
  left: 102px;
  margin-left: 8px;
}

.project-container {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: auto;
  align-items: left;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-container.light-theme {
  border: 1px solid black;
}

.project-container.dark-theme {
  border: 2px solid white;
}

/* Styling for the button to edit the project */
#edit-project {
  align-items: center;
  margin-left: auto;
  margin-right: 12px;
  box-shadow: 0px 1px 3px grey;
  border: none;
  outline: none;
  background-color: white;
  height: 20px;
}

button:hover {
  cursor: pointer;
}

.delete-project {
  outline: none;
  border: none;
  box-shadow: 0px 1px 3px grey;
  background: none;
  height: 20px;
}

.project-top {
  display: flex;
  flex-direction: row;
}

.project-title {
  font-family: "Saira Condensed", sans-serif;
  font-size: 20px;
  text-wrap: nowrap;
  margin-top: auto;
  margin-right: 10px;
  margin-bottom: 0;
  text-align: left;
}

.project-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; 
  margin-top: 8px;
}

.project-date { 
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

.td-button {
  width: fit-content;
  border-radius: 4px;
  border: 1px solid black;
  padding: 2px 4px 2px 4px;
  font-family: "Varela Round", sans-serif;
  font-weight: 300;
  background-color: white;
}

/* Footer Styling */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8vh;
}

footer.light-theme {
  background-color: #1B1B1B;
  box-shadow: 0 -5px 5px 1px grey;
  color: white;
}

footer.dark-theme {
  background-color: #444444;
  box-shadow: 0 -2px 3px 1px #FAFAFA;
}

.my-name {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.my-github {
  margin: 10px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: rgb(0, 225, 255);
  transition: 0.3s ease-in-out;
}

.my-github:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: pink;
  text-decoration: underline;
}




