body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.main-heading {
  margin: auto;
  padding-top: 8px;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

main { 
  border: 2px solid black;
  height: 87vh;
}

/* Theme Button Styling */
.theme-select {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 6%;
  min-width: 40px;
  max-width: 60px;
  padding: 4px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 25px;
  outline: none;
}

.theme-select:hover {
  cursor: pointer;
}

/* Main body theme styling */
#body.light-theme {
  background-color: white;
  color: black;
}

#body.grey-theme {
  background-color: silver;
  color: black;
}

#body.dark-theme {
  background-color: #121212;
  color: #E0E0E0 ;
}

/* Project dialog styling */
#project-dialog {
  position: fixed;
  width: 200px;
  padding: 30px;
}

#project-form {
  display: flex;
  flex-direction: column;
}

/* Styling for the project creation form and labels */
.title-label, .description-label,
.date-label, .time-label {
  margin-bottom: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
} 

#title-input, #description-input,
#date-input, #time-input {
  margin-bottom: 12px;
}

#description-input {
  height: 150px;
}

#title-input:focus, #description-input:focus,
#date-input:focus, #time-input:focus {
  border: 2px solid blue;
  outline: none;
}

.priority-container {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 16px;
}

.form-button-container {
  display: flex;
  justify-content: space-around;
}

.submit-button, .cancel-button {
  width: fit-content;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid black;
  transition: 0.4s ease-in-out;
  box-shadow: 2px 2px 2px black;
  perspective: 10px;
}

.submit-button:hover, .cancel-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  outline: 2px black;
  
}

/* Project Styling */
.new-project {
  position: fixed;
  margin-bottom: 0px;
  padding: 4px;
  font-size: 12px;
  top: 22px;
  left: 20px;
  border-radius: 25px;
  border: 1px solid black;
  width: 9%;
}

.project-container {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: auto;
  align-items: left;
  padding: 12px;
}

.project-container.light-theme {
  border: 2px solid black;
}

.project-container.dark-theme {
  border: 2px solid white;
}

/* Styling for the button to edit the project */
#edit-project {
  align-items: center;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin-left: auto;
}

button:hover {
  cursor: pointer;
}

.project-top {
  display: flex;
  flex-direction: row;
}

.project-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-wrap: nowrap;
  margin-top: auto;
  margin-right: 10px;
  margin-bottom: 0;
  text-align: left;
  align-items: center;
}

.project-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; 
}

.project-date { 
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

/* To-Do dialog styling */


/* To-Do Styling */


/* Footer Styling */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8vh;
}

footer.light-theme {
  background-color: #1B1B1B;
  box-shadow: 0 -5px 5px 1px grey;
  color: white;
}

footer.dark-theme {
  background-color: #444444;
  box-shadow: 0 -2px 3px 1px #FAFAFA;
}

.my-name {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.my-github {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  transition: 0.3s ease-in-out;
}

.my-github:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: pink;
  text-decoration: underline;
}

.my-github:visited {
  color: magenta;
}



